<div id="actionButtonsDiv" style="display:none; ">

  <button style="display: inline-block; " onclick="javascript:leaveGame();">Leave Game</button>
  <button id="gameCardsButton" style="display: inline-block; ">Game Cards</button>
  <button id="myCardsButton" style="display: inline-block; ">My Cards</button>
  <button id="boatAndSupplyButton" style="display: inline-block; ">Boat and Supply</button>
  <button id="claimBoardButton" style="display: inline-block; ">Claim Board</button>
  <button id="gameLogButton" style="display: inline-block; ">Game Log</button>
</div>