<div id="claimBoardModal" class="modal">
    <div id="claimBoardContent" class="modal-content">
        <span id="closeClaimBoardModal" class="close">&times;</span>

        <table>
        <tr valign="top"><td><td align="right"><input type="checkbox" id="nopop_claimboard" value="y" style="display:none" /></td></td></tr>
        <tr valign="bottom"><td>
            <table id="claimBoardTable" style="display:none; ">
                <tr height="60px" style="background-color: #826223;"><th>Points</th><th>Rule</th><th>Build</th><th>Trade</th></tr>
                <tr height="60px" style="background-color: #e0c692;">
                    <td style="text-align:center"><span class="red numberCircle" style="color:white">8</span></td>
                    <td style="text-align:center">5 Regions<br/>(including Kiev & Novgorod)<br/><span id="red-rule-8" class="red numberBox" style="display:none"></span><span  id="blue-rule-8" class="blue numberBox" style="display:none"></span><span id="yellow-rule-8" class="yellow numberBox" style="display:none"></span><span id="white-rule-8" class="white numberBox" style="display:none"></span></td>
                    <td style="text-align:center">7 Adjacent Regions<br/><span id="red-build-8" class="red numberBox" style="display:none"></span><span  id="blue-build-8" class="blue numberBox" style="display:none"></span><span id="yellow-build-8" class="yellow numberBox" style="display:none"></span><span id="white-build-8" class="white numberBox" style="display:none"></span></td>
                    <td style="text-align:center">11 Goods on Boat<br/><span id="red-trade-8" class="red numberBox" style="display:none"></span><span  id="blue-trade-8" class="blue numberBox" style="display:none"></span><span id="yellow-trade-8" class="yellow numberBox" style="display:none"></span><span id="white-trade-8" class="white numberBox" style="display:none"></span></td>
                </tr>
                
                <tr height="60px" style="background-color: #826223;">
                    <td style="text-align:center"><span class="red numberCircle" style="color:white">5</span></td>
                    <td style="text-align:center">5 Regions<br/><span id="red-rule-5" class="red numberBox" style="display:none"></span><span  id="blue-regions" class="blue numberBox" style="display:none"></span><span id="yellow-rule-5" class="yellow numberBox" style="display:none"></span><span id="white-rule-5" class="white numberBox" style="display:none"></span></td>
                    <td style="text-align:center">5 Adjacent Regions<br/><span id="red-build-5" class="red numberBox" style="display:none"></span><span  id="blue-build-5" class="blue numberBox" style="display:none"></span><span id="yellow-build-5" class="yellow numberBox" style="display:none"></span><span id="white-build-5" class="white numberBox" style="display:none"></span></td>
                    <td style="text-align:center">9 Goods on Boat<br/><span id="red-trade-5" class="red numberBox" style="display:none"></span><span  id="blue-trade-5" class="blue numberBox" style="display:none"></span><span id="yellow-trade-5" class="yellow numberBox" style="display:none"></span><span id="white-trade-5" class="white numberBox" style="display:none"></span></td>
                </tr>
                <tr height="60px" style="background-color: #e0c692;">
                    <td style="text-align:center"><span class="red numberCircle" style="color:white">3</span></td>
                    <td style="text-align:center">4 Regions<br/><span id="red-rule-3" class="red numberBox" style="display:none"></span><span  id="blue-rule-3" class="blue numberBox" style="display:none"></span><span id="yellow-rule-3" class="yellow numberBox" style="display:none"></span><span id="white-rule-3" class="white numberBox" style="display:none"></span></td>
                    <td style="text-align:center">4 Adjacent Regions<br/><span id="red-build-3" class="red numberBox" style="display:none"></span><span  id="blue-build-3" class="blue numberBox" style="display:none"></span><span id="yellow-build-3" class="yellow numberBox" style="display:none"></span><span id="white-build-3" class="white numberBox" style="display:none"></span></td>
                    <td style="text-align:center">7 Goods on Boat<br/><span id="red-trade-3" class="red numberBox" style="display:none"></span><span  id="blue-trade-3" class="blue numberBox" style="display:none"></span><span id="yellow-trade-3" class="yellow numberBox" style="display:none"></span><span id="white-trade-3" class="white numberBox" style="display:none"></span></td>
                </tr>
                <tr height="60px" style="background-color: #826223;">
                    <td style="text-align:center"><span class="red numberCircle" style="color:white">2</span></td>
                    <td style="text-align:center">3 Regions<br/><span id="red-rule-2" class="red numberBox" style="display:none"></span><span  id="blue-rule-2" class="blue numberBox" style="display:none"></span><span id="yellow-rule-2" class="yellow numberBox" style="display:none"></span><span id="white-rule-2" class="white numberBox" style="display:none"></span></td>
                    <td style="text-align:center">3 Adjacent Regions<br/><span id="red-build-2" class="red numberBox" style="display:none"></span><span  id="blue-build-2" class="blue numberBox" style="display:none"></span><span id="yellow-build-2" class="yellow numberBox" style="display:none"></span><span id="white-build-2" class="white numberBox" style="display:none"></span></td>
                    <td style="text-align:center">5 Goods on Boat<br/><span id="red-trade-2" class="red numberBox" style="display:none"></span><span  id="blue-trade-2" class="blue numberBox" style="display:none"></span><span id="yellow-trade-2" class="yellow numberBox" style="display:none"></span><span id="white-trade-2" class="white numberBox" style="display:none"></span></td>
                </tr>
                <tr height="60px" style="background-color: #e0c692;">
                    <td style="text-align:center"><span class="red numberCircle" style="color:white">1</span></td>
                    <td style="text-align:center">2 Regions<br/><span id="red-rule-1" class="red numberBox" style="display:none"></span><span  id="blue-rule-1" class="blue numberBox" style="display:none"></span><span id="yellow-rule-1" class="yellow numberBox" style="display:none"></span><span id="white-rule-1" class="white numberBox" style="display:none"></span></td>
                    <td style="text-align:center">2 Adjacent Regions<br/><span id="red-build-1" class="red numberBox" style="display:none"></span><span  id="blue-build-1" class="blue numberBox" style="display:none"></span><span id="yellow-build-1" class="yellow numberBox" style="display:none"></span><span id="white-build-1" class="white numberBox" style="display:none"></span></td>
                    <td style="text-align:center">3 Goods on Boat<br/><span id="red-trade-1" class="red numberBox" style="display:none"></span><span  id="blue-trade-1" class="blue numberBox" style="display:none"></span><span id="yellow-trade-1" class="yellow numberBox" style="display:none"></span><span id="white-trade-1" class="white numberBox" style="display:none"></span></td>
                </tr>
                <tr height="40px" style="background-color: #826223;">
                    <td style="text-align:center"></td>
                    <td style="text-align:center"><span id="red-rule-0" class="red numberBox" style="display:none"></span><span  id="blue-rule-0" class="blue numberBox" style="display:none"></span><span id="yellow-rule-0" class="yellow numberBox" style="display:none"></span><span id="white-rule-0" class="white numberBox" style="display:none"></span></td>
                    <td style="text-align:center"><span id="red-build-0" class="red numberBox" style="display:none"></span><span  id="blue-build-0" class="blue numberBox" style="display:none"></span><span id="yellow-build-0" class="yellow numberBox" style="display:none"></span><span id="white-build-0" class="white numberBox" style="display:none"></span></td>
                    <td style="text-align:center"><span id="red-trade-0" class="red numberBox" style="display:none"></span><span  id="blue-trade-0" class="blue numberBox" style="display:none"></span><span id="yellow-trade-0" class="yellow numberBox" style="display:none"></span><span id="white-trade-0" class="white numberBox" style="display:none"></span></td>
                </tr>
            </table>
            </td>
            <td align="center">
            <div id="warfareDiv" style="display: none">
                <table style="background-color: #826223; border: 1px solid black; border-collapse: collapse">
                    <tr><th colspan="2" style="border: 1px solid black">Warfare</th></tr>
                    <tr><th style="border: 1px solid black">Level</th><th style="border: 1px solid black">Reward (+)</th></tr>
                    <tr style="background-color: #e0c692;"><td>2</td><td><span id="warfare-reward-2"></span></td></tr>
                    <tr style="background-color: #826223;"><td>4</td><td><span id="warfare-reward-4"></span></td></tr>
                    <tr style="background-color: #e0c692;"><td>6</td><td><span id="warfare-reward-6"></span></td></tr>
                    <tr style="background-color: #826223;"><td>8</td><td><span id="warfare-reward-8"></span></td></tr>
                    <tr style="background-color: #e0c692;"><td>10</td><td><span id="warfare-reward-10"></span></td></tr>
                    <tr style="height: 40px"><td colspan="2">1st <span class="red numberCircle" style="color:white">3</span> 2nd <span class="red numberCircle" style="color:white">1</span></td></tr>
                </table>
                <br/>
                <table style="background-color: black">
                    <tr style="background-color: #e0c692;"><th width="20px">0</th><th width="20px">1</th><th width="20px">2</th><th width="20px">3</th><th width="20px">4</th><th width="20px">5</th><th width="20px">6</th><th width="20px">7</th><th width="20px">8</th><th width="20px">9</th><th width="20px">10</th></tr>
                    <tr style="background-color: #e0c692;"><td></td><td></td><td align="center">+</td><td></td><td align="center">+</td><td></td><td align="center">+</td><td></td><td align="center">+</td><td></td><td align="center">+</td></tr>
                    <tr style="background-color: #826223;">
                        <td><span id="red-war-0" class="red numberBox" style="display:block"></span></td>
                        <td><span id="red-war-1" class="red numberBox" style="display:block"></span></td>
                        <td><span id="red-war-2" class="red numberBox" style="display:block"></span></td>
                        <td><span id="red-war-3" class="red numberBox" style="display:block"></span></td>
                        <td><span id="red-war-4" class="red numberBox" style="display:block"></span></td>
                        <td><span id="red-war-5" class="red numberBox" style="display:block"></span></td>
                        <td><span id="red-war-6" class="red numberBox" style="display:block"></span></td>
                        <td><span id="red-war-7" class="red numberBox" style="display:block"></span></td>
                        <td><span id="red-war-8" class="red numberBox" style="display:block"></span></td>
                        <td><span id="red-war-9" class="red numberBox" style="display:block"></span></td>
                        <td><span id="red-war-10" class="red numberBox" style="display:block"></span></td>
                    </tr>
                    <tr style="background-color: #826223;">
                        <td><span id="blue-war-0" class="blue numberBox" style="display:block"></span></td>
                        <td><span id="blue-war-1" class="blue numberBox" style="display:block"></span></td>
                        <td><span id="blue-war-2" class="blue numberBox" style="display:block"></span></td>
                        <td><span id="blue-war-3" class="blue numberBox" style="display:block"></span></td>
                        <td><span id="blue-war-4" class="blue numberBox" style="display:block"></span></td>
                        <td><span id="blue-war-5" class="blue numberBox" style="display:block"></span></td>
                        <td><span id="blue-war-6" class="blue numberBox" style="display:block"></span></td>
                        <td><span id="blue-war-7" class="blue numberBox" style="display:block"></span></td>
                        <td><span id="blue-war-8" class="blue numberBox" style="display:block"></span></td>
                        <td><span id="blue-war-9" class="blue numberBox" style="display:block"></span></td>
                        <td><span id="blue-war-10" class="blue numberBox" style="display:block"></span></td>
                    <tr style="background-color: #826223;">
                        <td><span id="yellow-war-0" class="yellow numberBox" style="display:block"></span></td>
                        <td><span id="yellow-war-1" class="yellow numberBox" style="display:block"></span></td>
                        <td><span id="yellow-war-2" class="yellow numberBox" style="display:block"></span></td>
                        <td><span id="yellow-war-3" class="yellow numberBox" style="display:block"></span></td>
                        <td><span id="yellow-war-4" class="yellow numberBox" style="display:block"></span></td>
                        <td><span id="yellow-war-5" class="yellow numberBox" style="display:block"></span></td>
                        <td><span id="yellow-war-6" class="yellow numberBox" style="display:block"></span></td>
                        <td><span id="yellow-war-7" class="yellow numberBox" style="display:block"></span></td>
                        <td><span id="yellow-war-8" class="yellow numberBox" style="display:block"></span></td>
                        <td><span id="yellow-war-9" class="yellow numberBox" style="display:block"></span></td>
                        <td><span id="yellow-war-10" class="yellow numberBox" style="display:block"></span></td>
                    <tr style="background-color: #826223;">
                        <td><span id="white-war-0" class="white numberBox" style="display:block"></span></td>
                        <td><span id="white-war-1" class="white numberBox" style="display:block"></span></td>
                        <td><span id="white-war-2" class="white numberBox" style="display:block"></span></td>
                        <td><span id="white-war-3" class="white numberBox" style="display:block"></span></td>
                        <td><span id="white-war-4" class="white numberBox" style="display:block"></span></td>
                        <td><span id="white-war-5" class="white numberBox" style="display:block"></span></td>
                        <td><span id="white-war-6" class="white numberBox" style="display:block"></span></td>
                        <td><span id="white-war-7" class="white numberBox" style="display:block"></span></td>
                        <td><span id="white-war-8" class="white numberBox" style="display:block"></span></td>
                        <td><span id="white-war-9" class="white numberBox" style="display:block"></span></td>
                        <td><span id="white-war-10" class="white numberBox" style="display:block"></span></td>
                </table>
            </div>
        </td></tr></table>

    </div>
</div>