<table style="display:none">
    <tr><th>Points</th><th>Rule</th><th>Build</th><th>Trade</th></tr>
    <tr><td>8</td><td>5 Regions (including Kiev & Novgorod)</td><td>7 Adjacent Regions</td><td>11 Goods on Boat</td></tr>
    <tr><td>5</td><td>5 Regions</td><td>5 Adjacent Regions</td><td>9 Goods on Boat</td></tr>
    <tr><td>3</td><td>4 Regions</td><td>4 Adjacent Regions</td><td>7 Goods on Boat</td></tr>
    <tr><td>2</td><td>3 Regions</td><td>3 Adjacent Regions</td><td>5 Goods on Boat</td></tr>
    <tr><td>1</td><td>2 Regions</td><td>2 Adjacent Regions</td><td>3 Goods on Boat</td></tr>
</table>