<table style="display:none; ">
    <tr height="60px" style="background-color: #826223;"><th>Points</th><th>Rule</th><th>Build</th><th>Trade</th></tr>
    <tr height="60px" style="background-color: #e0c692;">
        <td style="text-align:center"><span class="red numberCircle" style="color:white">8</span></td>
        <td style="text-align:center">5 Regions<br/>(including Kiev & Novgorod)<br/><span id="red-regions-5-kn" class="red numberBox" style="display:none"></span><span  id="blue-regions-5-kn" class="blue numberBox" style="display:none"></span><span id="yellow-regions-5-kn" class="yellow numberBox" style="display:none"></span><span id="white-regions-5-kn" class="white numberBox" style="display:none"></span></td>
        <td style="text-align:center">7 Adjacent Regions<br/><span id="red-build-7" class="red numberBox" style="display:none"></span><span  id="blue-build-7" class="blue numberBox" style="display:none"></span><span id="yellow-build-7" class="yellow numberBox" style="display:none"></span><span id="white-build-7" class="white numberBox" style="display:none"></span></td>
        <td style="text-align:center">11 Goods on Boat<br/><span id="red-boat-11" class="red numberBox" style="display:none"></span><span  id="blue-boat-11" class="blue numberBox" style="display:none"></span><span id="yellow-boat-11" class="yellow numberBox" style="display:none"></span><span id="white-boat-11" class="white numberBox" style="display:none"></span></td>
    </tr>
    
    <tr height="60px" style="background-color: #826223;">
        <td style="text-align:center"><span class="red numberCircle" style="color:white">5</span></td>
        <td style="text-align:center">5 Regions<br/><span id="red-regions-5" class="red numberBox" style="display:none"></span><span  id="blue-regions" class="blue numberBox" style="display:none"></span><span id="yellow-regions-5" class="yellow numberBox" style="display:none"></span><span id="white-regions-5" class="white numberBox" style="display:none"></span></td>
        <td style="text-align:center">5 Adjacent Regions<br/><span id="red-build-5" class="red numberBox" style="display:none"></span><span  id="blue-build-5" class="blue numberBox" style="display:none"></span><span id="yellow-build-5" class="yellow numberBox" style="display:none"></span><span id="white-build-5" class="white numberBox" style="display:none"></span></td>
        <td style="text-align:center">9 Goods on Boat<br/><span id="red-boat-9" class="red numberBox" style="display:none"></span><span  id="blue-boat-9" class="blue numberBox" style="display:none"></span><span id="yellow-boat-9" class="yellow numberBox" style="display:none"></span><span id="white-boat-9" class="white numberBox" style="display:none"></span></td>
    </tr>
    <tr height="60px" style="background-color: #e0c692;">
        <td style="text-align:center"><span class="red numberCircle" style="color:white">3</span></td>
        <td style="text-align:center">4 Regions<br/><span id="red-regions-4" class="red numberBox" style="display:none"></span><span  id="blue-regions-4" class="blue numberBox" style="display:none"></span><span id="yellow-regions-4" class="yellow numberBox" style="display:none"></span><span id="white-regions-4" class="white numberBox" style="display:none"></span></td>
        <td style="text-align:center">4 Adjacent Regions<br/><span id="red-build-4" class="red numberBox" style="display:none"></span><span  id="blue-build-4" class="blue numberBox" style="display:none"></span><span id="yellow-build-4" class="yellow numberBox" style="display:none"></span><span id="white-build-4" class="white numberBox" style="display:none"></span></td>
        <td style="text-align:center">7 Goods on Boat<br/><span id="red-boat-7" class="red numberBox" style="display:none"></span><span  id="blue-boat-7" class="blue numberBox" style="display:none"></span><span id="yellow-boat-7" class="yellow numberBox" style="display:none"></span><span id="white-boat-7" class="white numberBox" style="display:none"></span></td>
    </tr>
    <tr height="60px" style="background-color: #826223;">
        <td style="text-align:center"><span class="red numberCircle" style="color:white">2</span></td>
        <td style="text-align:center">3 Regions<br/><span id="red-regions-3" class="red numberBox" style="display:none"></span><span  id="blue-regions-3" class="blue numberBox" style="display:none"></span><span id="yellow-regions-3" class="yellow numberBox" style="display:none"></span><span id="white-regions-3" class="white numberBox" style="display:none"></span></td>
        <td style="text-align:center">3 Adjacent Regions<br/><span id="red-build-3" class="red numberBox" style="display:none"></span><span  id="blue-build-3" class="blue numberBox" style="display:none"></span><span id="yellow-build-3" class="yellow numberBox" style="display:none"></span><span id="white-build-3" class="white numberBox" style="display:none"></span></td>
        <td style="text-align:center">5 Goods on Boat<br/><span id="red-boat-5" class="red numberBox" style="display:none"></span><span  id="blue-boat-5" class="blue numberBox" style="display:none"></span><span id="yellow-boat-5" class="yellow numberBox" style="display:none"></span><span id="white-boat-5" class="white numberBox" style="display:none"></span></td>
    </tr>
    <tr height="60px" style="background-color: #e0c692;">
        <td style="text-align:center"><span class="red numberCircle" style="color:white">1</span></td>
        <td style="text-align:center">2 Regions<br/><span id="red-regions-2" class="red numberBox" style="display:none"></span><span  id="blue-regions-2" class="blue numberBox" style="display:none"></span><span id="yellow-regions-2" class="yellow numberBox" style="display:none"></span><span id="white-regions-2" class="white numberBox" style="display:none"></span></td>
        <td style="text-align:center">2 Adjacent Regions<br/><span id="red-build-2" class="red numberBox" style="display:none"></span><span  id="blue-build-2" class="blue numberBox" style="display:none"></span><span id="yellow-build-2" class="yellow numberBox" style="display:none"></span><span id="white-build-2" class="white numberBox" style="display:none"></span></td>
        <td style="text-align:center">3 Goods on Boat<br/><span id="red-boat-3" class="red numberBox" style="display:none"></span><span  id="blue-boat-3" class="blue numberBox" style="display:none"></span><span id="yellow-boat-3" class="yellow numberBox" style="display:none"></span><span id="white-boat-3" class="white numberBox" style="display:none"></span></td>
    </tr>
    <tr height="40px" style="background-color: #826223;">
        <td style="text-align:center"></td>
        <td style="text-align:center"><span id="red-regions-0" class="red numberBox" style="display:none"></span><span  id="blue-regions-0" class="blue numberBox" style="display:none"></span><span id="yellow-regions-0" class="yellow numberBox" style="display:none"></span><span id="white-regions-0" class="white numberBox" style="display:none"></span></td>
        <td style="text-align:center"><span id="red-build-0" class="red numberBox" style="display:none"></span><span  id="blue-build-0" class="blue numberBox" style="display:none"></span><span id="yellow-build-0" class="yellow numberBox" style="display:none"></span><span id="white-build-0" class="white numberBox" style="display:none"></span></td>
        <td style="text-align:center"><span id="red-boat-0" class="red numberBox" style="display:none"></span><span  id="blue-boat-0" class="blue numberBox" style="display:none"></span><span id="yellow-boat-0" class="yellow numberBox" style="display:none"></span><span id="white-boat-0" class="white numberBox" style="display:none"></span></td>
    </tr>
</table>