<div id="verifySecretAgenda" style="display: none">
    <br/>
    <b>Secret Agendas:</b><br/>
    <div id="allSecretAgendasDiv"></div>
</div>

<div id="endGameDiv" style="display: none">
    <br/>
    <b>End Game Summary</b><br/>
    <div id="endGameTableDiv"></div>
</div>