<div id="gameCardsModal" class="modal">
    <div id="gameCardsContent" class="modal-content">
      <span id="closeGameCardsModal" class="close">&times;</span>
      <b>Scheme Cards:</b>
      <table>
        <tr>
          <td><span class="container"><img height="50px" src="/assets/scheme-card-back.png" /><span id="schemeDeck1Count" class="centered">0</span></span></td>
          <td><span class="container"><img height="50px" src="/assets/scheme-card-back.png" /><span id="schemeDeck2Count" class="centered">0</span></span></td>
          <td><div id="schemeDiscardDiv"></div></td>
        </tr>
      </table>
      <br/>
      <b>Deed Cards:</b> <br/>
      <div id="deedCardsDiv">
      </div>
    </div>

  </div>