<div id="gameCardsModal" class="modal">
    <div id="gameCardsContent" class="modal-content">
      <span id="closeGameCardsModal" class="close">&times;</span>
      Scheme Cards:
      <table>
        <tr>
          <td><img height="50px" src="/assets/scheme-card-back.png" /></td>
          <td><img height="50px" src="/assets/scheme-card-back.png" /></td>
          <td><div id="schemeDiscardDiv"></div></td>
        </tr>
      </table>
      Deed Cards: </br>  
    </div>

  </div>