<div id="statusDiv" style="display:none;">
    <table>
      <tr>
        <td><div style="position: relative; top:0px; left: 0px">
          <img src="/assets/compass.png" height="100px" />
              <span id="N_position" class="white numberBox" style="position:absolute; top: 0px; left: 42px; z-index: 1; opacity: 1; display: none">N</span>
              <span id="E_position" class="white numberBox" style="position:absolute; top: 40px; left: 85px; z-index: 1; opacity: 1; display: none">E</span>
              <span id="S_position" class="white numberBox" style="position:absolute; top: 85px; left: 42px; z-index: 1; opacity: 1; display: none">S</span>
              <span id="W_position" class="white numberBox" style="position:absolute; top: 40px; left: 0px; z-index: 1; opacity: 1; display: none">W</span>
        </div></td>
        <td>&nbsp;</td>
        <td>
          <span style="display:none" id="myColor"></span><span class="blue numberBox" id="myColorIcon" style="display: inline-block; overflow: hidden; width:8px; height:8px">N</span><span id="myName"></span> as <span id="leader">. . .</span><br/>
          <i><span id="myLeaderDescription"></span></i><br/>
          <b>Game: </b><span id="gameStatusName"></span> (<span id="gameId"></span>)  <span id="gameDate"></span><span style="display:none"> Round: <span id="gameRound"></span></span><br/> 
          <b>Status: </b><span id="gameStatus"></span> <span id="currentPlayerColor" style="display: inline-block; overflow: hidden; width:8px; height:8px">N</span><br/> 
          <br/>      
        </td>
      </tr>
    </table>
</div>