<div id="gameLogModal" class="modal">
    <div id="gameLogContent" class="modal-content">
      <span id="closeGameLogModal" class="close">&times;</span>
      <textarea id="gameLogTextArea" name="gameLog" rows="20" cols="80"></textarea>
    </div>
</div>