<div id="personalCardsDiv" style="display:none; ">
    <!-- Trigger/Open The Modal -->
    <button id="gameCardsButton" style="display: inline-block; ">Show Game Cards</button>
    <button id="myCardsButton" style="display: inline-block; ">Show My Cards</button>
    <button id="boatAndSupplyButton" style="display: inline-block; ">Boat and Supply</button>

    <!-- The Modal -->
    <div id="myCardsModal" class="modal" >

      <div id="myCardsContent" class="modal-content" >
        <span id="closeMyCardsModal" class="close">&times;</span>
        My Scheme Cards: 
        <table>
          <tr>
            <td><div id="personalSchemeCardDiv0"></div></td>
            <td><div id="personalSchemeCardDiv1"></div></td>
            <td><div id="personalSchemeCardDiv2"></div></td>
            <td><div id="personalSchemeCardDiv3"></div></td>
            <td><div id="personalSchemeCardDiv4"></div></td>
            <td><div id="personalSchemeCardDiv5"></div></td>
            <td><div id="personalSchemeCardDiv6"></div></td>
            <td><div id="personalSchemeCardDiv7"></div></td>
            <td><div id="personalSchemeCardDiv8"></div></td>
            <td><div id="personalSchemeCardDiv9"></div></td>
          </tr>
        </table>
        My Deed Cards: </br>
        My Secret Agenda Card:</br>
      </div>
    </div>
  </div>
