<div id="personalCardsDiv" style="display:none; ">

  <!-- The Modal -->
  <div id="myCardsModal" class="modal" >
    <div id="myCardsContent" class="modal-content" >
      <span id="myCardsModalheader" style="display: table-cell; width:100%; background-color: grey; border: 1px solid black; text-align: center">My Cards</span>
      <span id="closeMyCardsModal" class="close">&times;</span>
      <b>My Scheme Cards:</b> 
      <table>
        <tr>
          <td><div id="personalSchemeCardDiv0"></div></td>
          <td><div id="personalSchemeCardDiv1"></div></td>
          <td><div id="personalSchemeCardDiv2"></div></td>
          <td><div id="personalSchemeCardDiv3"></div></td>
          <td><div id="personalSchemeCardDiv4"></div></td>
          <td><div id="personalSchemeCardDiv5"></div></td>
          <td><div id="personalSchemeCardDiv6"></div></td>
          <td><div id="personalSchemeCardDiv7"></div></td>
          <td><div id="personalSchemeCardDiv8"></div></td>
          <td><div id="personalSchemeCardDiv9"></div></td>
        </tr>
      </table>
      <br/>
      <b>My Deed Cards:</b> <br/>
      <div id="myDeedCardsDiv"></div>
      <br/>
      <b>My Secret Agenda Card:</b><br/>
      <div id="mySecretAgendaCardDiv"></div>
    </div>

  </div>
</div>
