  <div id="login">
    Who are you? <input id="playerNameInput" type="text"><input type="button" value="Login" onclick="javascript:login();"/><br/>
  </div>



  <div id="gameListDiv" style="display:none">
    Hello <span><span id="playerName"></span>!</span><br/><br/>
    <div id="gameListData"></div>
    <br/>
  </div>

  <div id="createGameDiv" style="display: none">
    <table>
      <tr><td align="right">Game Name:</td><td><input id="gameName" type="text" /></td></tr>
      <tr><td align="right">Player Color:</td>
        <td>
          <select id="selectCreateGameColor">
          <option>blue</option>
          <option>red</option>
          <option>white</option>
          <option>yellow</option>
          </select>
        </td>
      </tr>
      <tr><td align="right">Player Position:</td><td>
        <select id="selectCreateGamePosition">
          <option value="N">North</option>
          <option value="E">East</option>
          <option value="S">South</option>
          <option value="W">West</option>
        </select>    
      </td>
    </tr>
    </table>
    <input type="button" value="Create Game" onclick="javascript:createGame();"/><br/>
    <br/>
  </div>


  <div id="joinGameDiv" style="display:none;">
    <!--Player Name: <input id="playerName" type="text">-->
    <select id="selectGameId"></select>
    <select id="selectColor">
      <option>blue</option>
      <option>red</option>
      <option>white</option>
      <option>yellow</option>
    </select>
    <select id="selectPosition">
      <option value="N">North</option>
      <option value="E">East</option>
      <option value="S">South</option>
      <option value="W">West</option>
    </select>
    <!--<input type="checkbox" value="true" id="isAi" />Is AI? --><span id="playerName2" style="display:none"></span><br/>
    <input id="addPlayerButton" type="button" value="Add Player" onclick="javascript:joinGame();"/><br/>
    <br/>
  </div>

  <div id="startGameDiv" style="display:none;">
    Add AI Player: 
    <select id="selectAiColor">
      <option>blue</option>
      <option>red</option>
      <option>white</option>
      <option>yellow</option>
    </select>
    <select id="selectAiPosition">
      <option value="N">North</option>
      <option value="E">East</option>
      <option value="S">South</option>
      <option value="W">West</option>
    </select>
    <input type="button" value="Add Player" onclick="javascript:aiJoinGame();"/><br/>
    <br/>
    <input type="button" value="Start Game" onclick="javascript:startGame();"/><br/>
  </div>
  <div id="pickFirstPlayerDiv" style="display:none;">
    <select id="selectFirstPlayerColor">
      <option>blue</option>
      <option>red</option>
      <option>white</option>
      <option>yellow</option>
    </select>
    <input type="button" value="Pick First Player" onclick="javascript:pickFirstPlayer();"/>
    <input type="button" value="Pick Random First Player" onclick="javascript:pickRandomFirstPlayer();"/><br/>
  </div>
  <div id="leaderSelectionDiv" style="display:none;">
    <select id="selectLeader"></select>
    <input type="button" value="Select Leader" onclick="javascript:chooseLeader();"/><br/>
    <br/>
  </div>
  <div id="chooseSecretAgendaDiv" style="display:none;">
    <input type="radio" id="secretAgenda1" name="secretAgenda" value="">
    <label id="secretAgenda1Label" for="secretAgenda1"></label><br>
    <input type="radio" id="secretAgenda2" name="secretAgenda" value="">
    <label id="secretAgenda2Label" for="secretAgenda2"></label><br>
    <input type="button" value="Select Secret Agenda" onclick="javascript:chooseSecretAgenda();"/><br/>
    <br/>
  </div>

  <div id="placeInitialTroopsDiv" style="display:none;">
    <select id="selectLocation"></select>
    <input id="placeTroopButton" type="button" value="Place Troop" onclick="javascript:placeTroop();"/><br/>
    <br/>
  </div>

